<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>image74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,47}</string>
                <key>spriteSourceSize</key>
                <string>{135,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mandown.png</string>
            <key>size</key>
            <string>{131,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb2ba6584d8f2559a2bb9f6e08c0b54f:b122a4b3bd8e8820476dca99d7daa1c3:b6237455092432aea6178fa708b7f8e6$</string>
            <key>textureFileName</key>
            <string>mandown.png</string>
        </dict>
    </dict>
</plist>
